#pagination-wrapper {
  float: right;
}

#pagination-wrapper a {
  cursor: pointer;
}

#pagination-wrapper ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

#pagination-wrapper ul li {
  color: #7D7D7D;
  display: flex;
}

#pagination-wrapper ul li a {
  background-color: #ffffff;
  padding: 5px 10px;
  border: 1px solid #c7c7c7;
  border-right: 0;
}

#pagination-wrapper ul li.active a {
  background-color: #E6E6E6;
}

#pagination-wrapper ul li:first-child a {
  border-radius: 5px 0 0 5px;
}

#pagination-wrapper ul li:last-child a {
  border-radius: 0 5px 5px 0;
  border-right: 1px solid #c7c7c7;
}

#pagination-wrapper i {
  cursor: default;
  background-color: #ffffff;
  padding: 5px 10px;
  border: 1px solid #c7c7c7;
  border-right: 0;
}

#pagination-wrapper .disabled a {
  background-color: #ffffff;
  cursor: default;
}