<header class="navbar navbar-expand-md d-print-none">
  <div class="container-xl">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <h1 class="navbar-brand pe-0 pe-md-3">
      <a href="/">
        <img src="/img/incentivosLogo.png" width="110" height="32" alt="AYUDA" class="navbar-brand-image">
      </a>
    </h1>
    <div class="navbar-nav flex-row order-md-last">
      <div class="d-none d-md-flex">
        <a href="/login" class="btn" id="log">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-inline me-2" height="24" viewBox="0 -960 960 960" width="24"><path d="M491.5-174.5q-5.5 0-9.25-3.75t-3.75-9.25q0-5 3.75-8.75t9.25-3.75h234q12 0 22-10t10-22v-493.5q0-12-10-22t-22-10h-234q-5.5 0-9.25-3.75t-3.75-9.25q0-5 3.75-8.75t9.25-3.75h234q24.438 0 40.969 16.531Q783-749.938 783-725.5V-232q0 24.438-16.531 40.969Q749.938-174.5 725.5-174.5h-234Zm48-291.5H190q-5.5 0-9.25-3.75T177-479q0-5 3.75-8.75t9.25-3.75h349.5l-79.628-79.628Q456-574.5 455.5-580t4.5-9.75q4.5-4.25 9-4t9.033 4.283l90.434 90.434Q577-490.5 577-478.659t-8.5 20.159l-90.426 90.426Q474-364.5 469-364t-9-4q-5-4-5-8.75t4.435-9.685L539.5-466Z"/></svg>
          Iniciar Sesión
        </a>
      </div>
    </div>
  </div>
</header>