<header class="navbar navbar-expand-md d-print-none">
  <div class="container-xl">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <h1 class="navbar-brand pe-0 pe-md-3">
      <a href="/">
        <img src="/img/incentivosLogo.png" width="110" height="32" alt="AYUDA" class="navbar-brand-image">
      </a>
    </h1>
    <div class="navbar-nav flex-row order-md-last">
      <div class="d-none d-md-flex">
        <a href="/" class="btn" id="log">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-inline me-2" height="24" viewBox="0 -960 960 960" width="24"><path d="M234.5-174.5q-24.438 0-40.969-16.531Q177-207.562 177-232v-493.5q0-24.438 16.531-40.969Q210.062-783 234.5-783H469q5 0 8.75 3.75t3.75 8.75q0 5.5-3.75 9.25T469-757.5H234.5q-12 0-22 10t-10 22V-232q0 12 10 22t22 10H469q5 0 8.75 3.75t3.75 8.75q0 5.5-3.75 9.25T469-174.5H234.5ZM733-466H384.5q-5.5 0-9.25-3.75T371.5-479q0-5 3.75-8.75t9.25-3.75H733l-79.628-79.628Q649.5-574.5 649-580t4.5-9.75q4.5-4.25 9-4t9.033 4.283l90.434 90.434q8.533 8.533 8.533 20.374T762-458.5l-90.426 90.426Q667.5-364.5 662.5-364t-9-4q-5-4-5-8.75t4.435-9.685L733-466Z"/></svg>          
          Cerrar Sesión
        </a>
      </div>      
    </div>
  </div>
</header>