<div class="navbar-expand-md">
  <div class="navbar">
    <div class="container-xl">
      <ul class="navbar-nav">
        <li class="nav-item <%- opcion === 'INICIO' ? 'active':'' %>">
          <a class="nav-link" href="/admin">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2" height="24" width="24" viewBox="0 0 24 24">
              <path d="M6.05 18.95H9.9V13.1h4.2v5.85h3.85V10L12 5.5 6.05 10Zm-.625.625v-9.9L12 4.7l6.6 5v9.875h-5.125V13.75H10.55v5.825ZM12 12.225Z" />
            </svg>
            <span>Inicio</span>
          </a>
        </li>
        <li class="nav-item <%- opcion === 'USUARIOS' ? 'active':'' %>">
          <a class="nav-link" href="/admin/usuarios" onclick="document.cookie='filtro=;Path=/;Expires=Thu, 01 Jan 1970 00:00:01 GMT;';">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" fill="none">
              <path stroke-width=".3" d="M3.275 18.025V16.8q0-.625.325-1.05.325-.425.875-.7 1.225-.575 2.388-.925 1.162-.35 2.987-.35 1.825 0 2.988.35 1.162.35 2.387.925.575.275.9.7.325.425.325 1.05v1.225Zm15.15 0v-1.2q0-.8-.275-1.475t-.75-1.175q.525.175 1.05.4.525.225 1.1.475.55.275.875.75.325.475.325 1.025v1.2ZM9.85 11.2q-1.1 0-1.862-.762-.763-.763-.763-1.863 0-1.075.763-1.85.762-.775 1.862-.775t1.863.775q.762.775.762 1.85 0 1.1-.762 1.863-.763.762-1.863.762Zm6.225-2.625q0 1.1-.763 1.863-.762.762-1.862.762h.075q.45-.525.688-1.2.237-.675.237-1.425 0-.725-.262-1.388-.263-.662-.663-1.237h-.075q1.1 0 1.862.775.763.775.763 1.85ZM3.9 17.4h11.9v-.575q0-.4-.187-.675-.188-.275-.713-.55-1.05-.575-2.237-.888-1.188-.312-2.813-.312-1.625 0-2.813.312-1.187.313-2.237.888-.525.275-.712.55-.188.275-.188.65Zm5.95-6.825q.825 0 1.413-.575.587-.575.587-1.4 0-.85-.587-1.425Q10.675 6.6 9.85 6.6q-.825 0-1.4.575t-.575 1.4q0 .825.575 1.412.575.588 1.4.588Zm0 6.825Zm0-8.825Z" />
            </svg>
            <span>Usuarios</span>
          </a>
        </li>
        <li class="nav-item dropdown <%- opcion === 'ENTIDADES' ? 'active':'' %>">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" href="#" role="button" aria-expanded="false">
            <span>Entidades</span>
          </a>
          <div class="dropdown-menu">
            <div class="dropdown-menu-columns">
              <div class="dropdown-menu-column">
                <a href="/admin/entidades" class="dropdown-item" onclick="document.cookie='filtro=;Path=/;Expires=Thu, 01 Jan 1970 00:00:01 GMT;';">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" fill="none">
                    <path stroke-width=".3" d="M17.275 8.7h1.35V7.375h-1.35Zm0 3.975h1.35v-1.35h-1.35Zm0 3.95h1.35V15.3h-1.35Zm-1.6 2.95v-.625h5.275V5.05h-9.775v2.5l-.625-.45V4.425h11.025v15.15Zm-13.25 0v-7.9l5.6-3.975 5.6 3.975v7.9H9.45V15.3H6.6v4.275Zm.65-.625h2.9v-4.3H10.1v4.3H13V12L8.025 8.525 3.075 12Zm12.6-8.175ZM10.1 18.95v-4.3H5.975v4.3-4.3H10.1Z" />
                  </svg>
                  Entidades
                </a>
                <a href="/admin/cargas" class="dropdown-item" onclick="document.cookie='filtro=;Path=/;Expires=Thu, 01 Jan 1970 00:00:01 GMT;';">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-inline me-2" width="24" height="24"
                  viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke-width=".4"
                    d="M6.85 18.525q-.6 0-1.012-.413-.413-.412-.413-1.037V14.9h.625v2.175q0 .325.25.562.25.238.55.238h10.3q.3 0 .55-.238.25-.237.25-.562V14.9h.65v2.175q0 .625-.425 1.037-.425.413-1.025.413Zm4.85-3.575V6.175L9.475 8.4l-.45-.425 2.975-3 3 3-.45.425-2.225-2.225v8.775Z" />
                </svg>
                  Cargas csv
                </a>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>