<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Incentivos</title>
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
  <!-- styles -->
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="antialiased">
  <div class="wrapper">
    <%- include('../partials/header') %>
    <style>.o3j99{flex-shrink:0;box-sizing:border-box}.LLD4me{min-height:150px;height:calc(100% - 560px);max-height:290px}.yr19Zb{min-height:92px}.ikrT4e{max-height:160px}</style>
    <style>.LS8OJ{display:flex;flex-direction:column;align-items:center}.k1zIA{height:100%;margin-top:auto}</style>
    <div class="o3j99 LLD4me yr19Zb LS8OJ">
      <div class="k1zIA rSk4se">
        <style>.rSk4se{max-height:92px;position:relative}.lnXdpd{max-height:100%;max-width:100%;object-fit:contain;object-position:center bottom;width:auto}</style>
        <img class="lnXdpd" alt="Guregida" height="92" src="/img/logo.png" width="272" data-atf="1" data-frt="0">
      </div>
    </div>
    <div class="o3j99 ikrT4e om7nvf">
      <style>.om7nvf{padding:20px}</style>
      <form action="/buscar" autocomplete="off" method="GET" role="buscar">
        <div class="RNNXgb">
          <style>.RNNXgb{margin: 0 auto;width: auto;max-width: 584px;padding-top: 6px;position: relative;}</style>
          <div class="input-icon">
            <span class="input-icon-addon">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path><path d="M21 21l-6 -6"></path></svg>
            </span>
            <input type="text" value="" class="form-control" aria-label="Buscar" name="part" autofocus>
          </div>
        </div>
      </form>
    </div>
    <div class="o3j99 qarstb">
      <style>.qarstb{flex-grow: 1;}</style>
      <%- include('../partials/footer') %>
    </div>
  </div>

  <script src="/js/ayuda.min.js"></script>
  <script>
    const elemNew = document.getElementById('log');
    elemNew.setAttribute('href', `/login`)
  </script>
</body>

</html>